<%-include header%>
    <div class="container">    
          <div class="row">
          <img class="banner-image" src="/images/yangyan.jpg" alt="">
          </div>
    </div>
    <table class="table table-hover my-table">
      <thead>
        <tr>
          <th>
            <h3>吾问无为谓无无无无无无无无</h3>
          </th>
          <th>
            <h3>吾问无为谓无无无无无无无无</h3>
          </th>
          <th>
            <h3>吾问无为谓无无无无无无无无</h3>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>agsfiuahsofhahsfhasohoashfoiashfioahsiofhasoihfahsf</p>
          </td>
          <td>
            <p>agsfiuahsofhahsfhasohoashfoiashfioahsiofhasoihfahsf</p>
          </td>
          <td>
            <p>agsfiuahsofhahsfhasohoashfoiashfioahsiofhasoihfahsf</p>
          </td>
        </tr>
      </tbody>
    </table>
<%- include footer%>
