<%-include header%>
	<form action="" method="POST" role="form" id="registered">
		<legend>注册账号</legend>
	
		<div class="form-group">
			<label for="registered-name">请输入用户名</label>
			<input type="text" id="registeredName" name="registeredName" class="form-control" id="" placeholder="请输入用户名">
			<label for="">请输入密码</label>
			<input type="password" id="registeredPassword" name="registeredPassword" class="form-control" id="" placeholder="请输入密码">
			<label for="">重复输入密码</label>
			<input type="password" id="registeredRepeatPassword" name="registeredRepeatPassword" class="form-control" id="" placeholder="重复输入密码">
		</div>	
		<button type="submit" class="btn btn-primary">确认注册</button>
	</form>
<%- include footer%>