<%-include header%>
<form action="" method="POST" role="form" id="artUp">
	<legend>写博客</legend>

	<div class="form-group">
		<label for="newTitle">标题</label>
		<input type="text" class="form-control" id="newTitle" name="newTitle" placeholder="请输入标题">
		<label for="newArticle">内容</label>
		<textarea id="newArticle" name="newArticle" class="form-control" rows="10" placeholder="请输入正文"></textarea>
	</div>

	

	<button type="submit" class="btn btn-primary">提交</button>
</form>
<%- include footer%>