<%-include header%>
<form method="POST" role="form" id="articleup">
	<legend>写博客</legend>
	<div class="form-group">
		<label for="artTitle">标题</label>
		<input type="text" class="form-control" id="artTitle" name="artTitle" placeholder="请输入标题">
		<label for="artBody">内容</label>
		<textarea id="artBody" name="artBody" class="form-control" rows="10" placeholder="请输入正文"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">提交</button>
</form>
<%- include footer%>