*{
	font-family:microsoft YaHei;
}
body {
  padding: 50px;
}
footer{
	margin-top:10%;
	height:60px;
	width:100%;
}
.banner-image{
	width:100%;
	height:100%;
}
.my-table{
	text-align: center;
	border:transparent;
}
.my-table thead h3{
	text-align: center;
}
.artTitle{
	text-align: center;
}
.artBody{
	text-align: center;
	text-indent:2em;
}
.pageChange{
	text-align: center;
	clear:both;
}
.pageChange li{
	display:inline-block;
	list-style: none;
/*	margin-left: 10px;
	margin-right: 10px;*/
}